.about__main {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.about__main-ctn {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.about__main-para {
    max-width: 75ch;
    margin-top: 20px;
    font-family: var(--ff-primary);
    font-size: 1.15rem;
    font-weight: var(--fw-reg);
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
    .about__main {
        max-width: 90%;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 700px) {
    .about__main {
        max-width: 90%;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1023px) {
    .about__main {
        max-width: 1040px;
        margin-bottom: 50px;
    }
}