/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Variables */

:root {
    --ff-primary: "Inter", san-sarif;
    --ff-secondary: "Gloria Hallelujah", san-sarif;

    --fw-large: 600;
    --fw-reg: 400;
    --fw-thin: 200;

    --color-default: #333;
    --clr-primary: #6138d3;
    --clr-secondary: #3842d3;
    --clr-theme: #6138d3;
    --clr-hover: #3842d3;
    --clr-light-bg: #f8fafc;

    --clr-dark: #111;
    --clr-light: #e3e3e3;
    --clr-grey: #666;

    --fclr-primary: #000;
    --fclr-secondary: #000;

    --box-shadow: rgba(0,0,0,0.2);
    --box-corner-radius: 10px;

    --dft-padding: 1rem;
    --dft-margin: 1rem;
    --dft-font-size: 16px;
}

/* Reset Block */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--color-default);
}

img {
    display: block;
    max-width: 100%;
}

/* Media Query Template */

/* @media only screen and (min-width: 900px) {} */

/* CSS Code Block */

/* General Code */

.mt3 {
    margin-top: 3rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.focus {
    color: var(--clr-primary);
    text-decoration: underline;
}

.btn {
    border-radius: 4px;
    font-weight: 400;
    border: none;
    font-size: 1.05rem;
    padding: .7em 0;
    text-transform: uppercase;
}

.cta {
    color: #fff;
    background-color: #3842d3;
}

input {
    color: var(--clr-dark);
    border-radius: 4px;
    font-weight: 400;
    border: none;
    font-size: 0.9rem;
    padding: 0.7rem 1em;
    border: 1px solid var(--clr-light);
}

.focus_line {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus_line::after {
    content: '';
    display: block;
    margin-top: 15px;
    width: 75px;
    height: 5px;
    background-color: var(--clr-secondary);
    border-radius: 5px;
}

.disp-none {
    display: none;
}

.disp-block {
    display: block;
}

/* Navigation Section */

nav {
    background-color: var(--clr-light-bg);
    border-bottom: 1px solid var(--clr-light);
    z-index: 1;
    margin: auto;
}

.navbar .ctn {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: fixed;
    background-color: inherit;
    border-bottom: inherit;
    top: 0;
    left: 0;
}

.logo {
    width: 100%;
}

.logo__img {
    max-width: 75px;
}

.mobile-nav {
    text-align: right;
}

.navitems {
    grid-column: span 2;
    line-height: 2;
    text-align: right;
}

.navitems ul li {
    list-style: none;
}

.navitems ul li a {
    text-decoration: none;
    color: var(--clr-grey);
}

@media only screen and (min-width: 899px) {
    .mobile-nav {
        display: none;
    }
    nav {
        z-index: 0;
    }
    .navbar .ctn {
        max-width: 1040px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        position: relative;
        background-color: inherit;
        border-bottom: inherit;
    }
    .logo {
        max-width: 50%;
    }

    .navitems {
        display: block;
        line-height: 2;
        background-color: transparent;
    }

    .navitems ul li {
        display: inline-block;
        margin-left: 1.5em;
    }
}

/* Navigation Ends */

/* Hero Section for the Site */

.hero .ctn {
    max-width: 90%;
    margin: auto;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.hero__content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero__content h1 {
    font-family: var(--ff-primary);
    font-size: 2.81rem;
}

.hero__content h3 {
    font-family: var(--ff-primary);
    font-size: 2rem;
    font-weight: var(--fw-reg);
}

.hero__para1, .hero__para2 {
    font-family: var(--ff-primary);
    font-size: 1.25rem;
    font-weight: var(--fw-reg);
}

.hero__para1 {
    margin-bottom: 1rem;
}

.hero__video {
    margin-bottom: 1rem;
}

.hero__video-img {
    margin: auto;
    max-width: 50vw;
    max-height: 50vh;
}

.cta-tag {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px
}

.cta-tag h1 {
    font-family: var(--ff-secondary);
    font-size: 1.4rem;
}

.cta-tag__arrow {
    padding-top: 1rem;
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
    .hero {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 700px) {
    .hero .ctn {
        flex-direction: row;
        align-items: center;
        gap: 3rem;
    }
}

@media only screen and (min-width: 1023px) {
    .hero {
        max-width: 1040px;
        margin: auto;
    }
}

/* Hero Section Ends */

/* Areas of Work */

.areas-of-work .ctn {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.card {
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--box-shadow);
    background-color: var(--page-bg);
    transition: color 0.3s, transform 0.3s !important;
}

.card-icon {
    font-size: 3rem;
}

.card p {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .areas-of-work {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 700px) {
    .areas-of-work .ctn {
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 1023px) {
    .areas-of-work {
        max-width: 1040px;
        margin: auto;
    }
}

/* Areas of Work End */

/* Main Section  */

main .ctn {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

main .ctn section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.article {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 .5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--clr-light);
    margin-bottom: 1rem;
}

.article h2 {
    font-size: 1rem;
    color: var(--clr-grey);
    text-transform: uppercase;
}

.article p {
    font-size: 0.9rem;
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
    background-color: var(--clr-light-bg);
    margin-bottom: 2rem;
}

.blocks h3 {
    font-size: 1rem;
    margin-bottom: .3rem;
}

.blocks img {
    max-width: 75px;
    grid-row: span 2;
}

.blocks p {
    grid-column: 2 / -1;
    font-size: 0.9rem;
    text-align: left;
}

@media only screen and (min-width: 600px) {
    main {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 700px) {
    main {
        max-width: 95%;
    }
    main .ctn {
        max-width: 100%;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1023px) {
    main {
        max-width: 1040px;
        margin: auto;
    }
}

/* Main Section Ends */

/* Subscribe Section */

.subscribe {
    background-color: var(--clr-light-bg);
    margin: auto;
    padding-bottom: 1rem;
}

.subscribe .ctn {
    max-width: 100%;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.summary {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.summary h3 {
    font-family: var(--ff-primary);
    font-size: 1.5rem;
    font-weight: var(--fw-large);
}

.summary p {
    font-family: var(--ff-primary);
    font-size: 1.15rem;
    font-weight: var(--fw-reg);
}

.email-form {
    width: 100%;
}

.email-form form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media only screen and (min-width: 600px) {
    .subscribe .ctn {
        max-width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width: 700px) {
    .subscribe .ctn {
        max-width: 95%;
        flex-direction: row;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1023px) {
    .subscribe .ctn {
        max-width: 1040px;
        margin: auto;
    }
}

/* Subscribe Section Ends */

/* Footer */

footer {
    color: var(--clr-light);
    background-color: var(--clr-dark);
}

footer .ctn {
    padding: 2rem 1rem;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social__icons {
    font-size: 1.5rem;
    display: flex;
    gap: 1.5rem;
}

@media only screen and (min-width: 600px) {
    footer .ctn {
        max-width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 700px) {
    footer .ctn {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 1023px) {
    footer .ctn {
        max-width: 1040px;
        margin: auto;
    }
}

/* Footer Ends */
